
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Analysis</title>
</head>
<body>
    <h3>home page</h3>
    <h4>
        {% with messages = get_flashed_messages()%}
        {% if messages%}
            {{messages}}
        {%endif%}
        {%endwith%}
    </h4>
    <form action="{{url_for('analysis_request')}}" method="post">
        <input type="text" name="text1" id="">
        <input type="submit" value="Send Your Requestl">
    </form>
</body>
</html>